<h2>All Posts</h2>

<% @posts.each do |post| %>
  Title: <%= post.title %>
  Content: <%= post.content %>
  Comments:
  <% post.comments.each do |comment| %>
    <%= comment.user.username %> said
    <%= comment.content %>
  <% end %>
<% end %>
