<h2>All Posts</h2>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.content %>
  <% post.comments.each do |comment| %>
    <%= comment.user.username %>
    <%= comment.content %>
  <% end %>
<% end %>
